name: tetra_stats
description: Track your and other player stats in TETR.IO
publish_to: 'none'

version: 2.0.8+49

environment:
  sdk: '>=3.0.0'

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  http:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  transparent_image: ^2.0.1
  cupertino_icons: ^1.0.2
  vector_math: any
  sqflite: ^2.2.8+2
  sqflite_common_ffi: any
  sqlite3_flutter_libs: ^0.5.15
  sqflite_common_ffi_web: '>=0.1.0-dev.1'
  path_provider: ^2.0.15
  path: ^1.8.2
  fl_chart: ^0.66.0
  package_info_plus: ^5.0.1
  shared_preferences: ^2.1.1
  intl: ^0.19.0
  syncfusion_flutter_gauges: ^24.1.41
  file_selector: ^1.0.1
  file_picker: ^6.1.1
  slang: ^3.20.0
  slang_flutter: ^3.20.0
  csv: ^5.0.2
  url_launcher: ^6.1.12
  flutter_svg: any
  window_manager: ^0.3.7
  flutter_markdown: ^0.6.18
  flutter_colorpicker: ^1.0.3
  flutter_layout_grid: ^2.0.0
  go_router: ^13.0.0
  syncfusion_flutter_charts: ^24.2.9
  flutter_to_debian: ^2.0.2
  sankey_flutter: ^0.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  flutter_launcher_icons: "^0.13.1"
  test: ^1.24.9


flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "res/icons/app.png"
  min_sdk_android: 19 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "res/icons/app.png"
    background_color: "#000000"
    theme_color: "#000000"
  windows:
    generate: true
    image_path: "res/icons/app.png"
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "res/icons/app.png"

targets:
  $default:
    builders:
      slang_build_runner:
        options:
          input_directory: res/i18n
          output_directory: lib/i18n


flutter:
  uses-material-design: true
  assets:
     - res/avatars/
     - res/icons/
     - res/tetrio_tl_alpha_ranks/
     - res/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  fonts:
    - family: Eurostile Round
      fonts:
        - asset: res/fonts/EurostileRound-Black.ttf
        - asset: res/fonts/EurostileRound-BlackItalic.ttf
        - asset: res/fonts/EurostileRound-Bold.ttf
        - asset: res/fonts/EurostileRound-BoldItalic.ttf
        - asset: res/fonts/EurostileRound-Heavy.ttf
          weight: 900
        - asset: res/fonts/EurostileRound-HeavyItalic.ttf
          weight: 900
          style: italic
        - asset: res/fonts/EurostileRound-Italic.ttf
          style: italic
        - asset: res/fonts/EurostileRound-Medium.ttf
        - asset: res/fonts/EurostileRound-MediumItalic.ttf
          weight: 500
          style: italic
        - asset: res/fonts/EurostileRound-Regular.ttf
    - family: Eurostile Round Condensed
      fonts:
        - asset: res/fonts/EurostileRoundCondensed-Heavy.ttf
        - asset: res/fonts/EurostileRoundCondensed-HeavyItalic.ttf
        - asset: res/fonts/EurostileRoundCondensed-Italic.ttf
        - asset: res/fonts/EurostileRoundCondensed-Regular.ttf
    - family: Eurostile Round Extended
      fonts:
        - asset: res/fonts/EurostileRoundExtended-Black.ttf
        - asset: res/fonts/EurostileRoundExtended-BlackItalic.ttf
          weight: 900
          style: italic
        - asset: res/fonts/EurostileRoundExtended-Italic.ttf
          style: italic
        - asset: res/fonts/EurostileRoundExtended-Medium.ttf
          weight: 500
        - asset: res/fonts/EurostileRoundExtended-Regular.ttf
