[Desktop Entry]
Version=2.0.6
Name=Tetra Stats
GenericName=Tetra Stats
Comment=Track your and other player stats in TETR.IO
Terminal=false
Type=Application
Categories=Utility
Keywords=TETR.IO;tetrio;stats;